<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
<meta charset="UTF-8">
<title>كشف حساب</title>

<style>

button,
a {
    font-family: Arial;
}


@media print {

button,
a {
    display:none;
}

body {
    background:white;
}

}

</style>  
</head>

<body>

<h2>
كشف حساب التاجر
</h2>


<h3>
{{customer.name}}
</h3>
<p>
🔢 رقم العميل:
<b>{{customer.customer_code}}</b>
</p>
<p>
📞 {{customer.phone}}
</p>

<p>
📍 {{customer.address}}
</p>


<button
onclick="window.print()"
style="
background:#2563eb;
color:white;
padding:10px 20px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
margin:10px;
">

🖨️ طباعة كشف الحساب

</button>


<hr>


<h3>
💰 إجمالي الذمة:
{{"%.2f"|format(debt.debt)}} JOD
</h3>


<table>

<tr>
<th>#</th>
<th>رقم الفاتورة</th>
<th>التاريخ</th>
<th>المبلغ</th>
<th>الدفع</th>
</tr>


{% for i in invoices %}

<tr>

<td>
{{ loop.index }}
</td>

<td>
{{i.invoice_number}}
</td>

<td>
{{i.sale_date.strftime("%Y-%m-%d %H:%M")}}
</td>

<td>
{{"%.2f"|format(i.total)}} JOD
</td>

<td>
{{i.payment_method}}
</td>

</tr>

{% endfor %}


</table>


<br>

<a href="/customers">
⬅ العودة للعملاء
</a>


</body>

</html>
